
.user-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#8a2be2,#1cf9f9);
  
  font-family: sans-serif;
}

.user-form{
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}


h1{
  text-align: center;
  font-size: 50px;
  line-height: 0;
}

input{
  padding: 10px;
  font-size: 22px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  color: #808080;
}
label{
  font-size: 20px;
  margin-top: 10px;
  color: #808080;
}

textarea{
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  color: #808080;
  border: 1px solid #bfbfbf;
}

.submit-button{
  width: 150px;
  height: 40px;
  background-color: #0d6efd;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  margin-top: 10px;
  align-self: center;
}

.error-message{
  color: red;
  line-height: 0;
}
.success-message{
  color: green;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
@media screen and (max-width:767px) {
  .user-form{
    width: 80%;
    max-height: 80%;
  }
  h1{
    font-size: 32px;
  }
  input{
    padding: 5px;
    font-size: 16px;
  }
  label{
    font-size: 16px;
  }
  textarea{
    padding: 5px;
    font-size: 16px;
  } 
  .submit-button{
    width: 100%;
  }
}
